
01.docs/00_admin/
01.docs/03_report/
01.docs/02_sop/

02.data/test/
02.data/idat/
02.data/raw/
02.data/trimmed/
02.data/metadata/

04.results/


05.maniscript/


paper/


*.bam
*.fastq.gz
*.fq.gz
*.vcf.gz
*.idat
*.rds
*.RData
*.h5
*.h5ad
*.bigwig
*.bw


__pycache__/
.ipynb_checkpoints/
.Rproj.user
.Rhistory


.env
*.key
*.pem
*password*
*token*


*.old
*.tmp